<ion-header>
  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input [(ngModel)]="login.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="login.password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Stay logged in</ion-label>
      <ion-checkbox [(ngModel)]="stayLoggedIn" (ionChange)="localStorageService.setStayLoggedIn(stayLoggedIn)"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Backend URL</ion-label>
      <ion-input [(ngModel)]="backendUrl"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button type="submit" ion-button (click)="signIn()" block>Sign In</button>
  </div>
</ion-content>
