<ion-header>
  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Stay logged in</ion-label>
      <ion-checkbox [(ngModel)]="stayLoggedIn" (ionChange)="saveInLocalStorage()"></ion-checkbox>
    </ion-item>
  </ion-list>
  <div padding>
    <button type="submit" ion-button (click)="login(username, password)" block>Sign In</button>
  </div>
  <div padding>
    <button ion-button (click)="createAccount()" block>Create new Account</button>
  </div>
</ion-content>
